.card-gallery {
  padding: 20px;
}

.cabin-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flip-card {
  position: relative;
  width: 300px; /* Ajusta el tamaño según sea necesario */
  height: 400px; /* Ajusta el tamaño según sea necesario */
}
